<a href="https://colab.research.google.com/github/GabrielSantiago97/ProjectNBA/blob/main/projectnba.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##IMPORTAR DADOS

In [13]:
from google.colab import files
uploaded = files.upload()

Saving 2017-18_NBA_salary.csv to 2017-18_NBA_salary.csv

In [30]:
import io
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_csv(io.BytesIO(uploaded['2017-18_NBA_salary.csv']))

##ANALISAR DADOS

In [55]:
#Visualizar dados
df.head()

,Player,Salary,NBA_Country,NBA_DraftNumber,Age,Tm,G,MP,3PAr,FTr,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%
0,Zhou Qi,815615,China,43,22,HOU,16,87,0.593,0.370,6.5,16.8,11.7,1.5,1.1,6.8,18.2
1,Zaza Pachulia,3477600,Georgia,42,33,GSW,66,937,0.004,0.337,11.0,25.0,18.5,15.4,1.9,1.3,19.3
2,Zach Randolph,12307692,USA,19,36,SAC,59,1508,0.193,0.140,7.0,23.8,15.0,14.9,1.4,0.6,12.5
3,Zach LaVine,3202217,USA,13,22,CHI,24,656,0.346,0.301,1.4,14.4,7.7,18.6,1.8,0.5,9.7
4,Zach Collins,3057240,USA,10,20,POR,62,979,0.387,0.146,4.9,18.3,11.7,7.3,0.8,2.5,15.6

In [32]:
#Colunas, qtde de linhas e dtype
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485 entries, 0 to 484
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Player           485 non-null    object
 1   Salary           485 non-null    int64
 2   NBA_Country      485 non-null    object
 3   NBA_DraftNumber  485 non-null    int64
 4   Age              485 non-null    int64
 5   Tm               485 non-null    object
 6   G                485 non-null    int64
 7   MP               485 non-null    int64
 8   3PAr             483 non-null    float64
 9   FTr              483 non-null    float64
 10  ORB%             485 non-null    float64
 11  DRB%             485 non-null    float64
 12  TRB%             485 non-null    float64
 13  AST%             485 non-null    float64
 14  STL%             485 non-null    float64
 15  BLK%             485 non-null    float64
 16  TOV%             483 non-null    float64
dtypes: float64(9), int64(5), object(3)
memory usage: 64.5+ KB

In [31]:
#Excluir colunas que não serão usadas nesse projeto
df = df.drop(columns=['VORP', 'BPM', 'DBPM', 'OBPM', 'WS/48', 'USG%', 'DWS', 'OWS', 'PER', 'TS%', 'WS'])

In [36]:
#Player com maior salário... TOP 5
playersal = df[["Player", "Salary"]].groupby("Player").sum()
playersal.sort_values(by="Salary", ascending=False).head()

                  Salary
Player
Stephen Curry   34682550
LeBron James    33285709
Paul Millsap    31269231
Gordon Hayward  29727900
Blake Griffin   29512900

In [54]:
#Salario dos jogadores que foram 1º draft
draft = df.loc[(df['NBA_DraftNumber'] == 1)]
draft

,Player,Salary,NBA_Country,NBA_DraftNumber,Age,Tm,G,MP,3PAr,FTr,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%
170,Markelle Fultz,7026240,USA,1,19,PHI,10,176,0.014,0.233,4.5,10.0,7.4,27.6,1.6,1.4,11.1
193,LeBron James,33285709,USA,1,33,CLE,78,2898,0.254,0.330,3.6,22.3,13.1,44.0,1.9,2.1,15.9
201,Kyrie Irving,18868625,Australia,1,25,BOS,60,1931,0.374,0.240,1.9,10.8,6.4,30.9,1.7,0.7,10.4
228,Karl-Anthony Towns,6216840,USA,1,22,MIN,78,2770,0.249,0.351,9.3,30.9,20.0,10.7,1.1,3.5,10.8
257,John Wall,18063850,USA,1,27,WAS,39,1335,0.249,0.358,1.9,9.9,5.9,43.6,1.9,2.7,16.6
359,Dwight Howard,23500000,USA,1,32,CHO,78,2384,0.008,0.642,10.9,33.4,21.9,7.1,1.0,4.5,15.2
377,Derrick Rose,2116955,USA,1,29,TOT,21,366,0.164,0.267,4.0,6.0,5.1,14.6,0.7,0.9,14.8
451,Blake Griffin,29512900,USA,1,28,TOT,58,1970,0.323,0.331,4.1,19.8,11.9,28.1,1.0,0.8,12.6
453,Ben Simmons,6168840,Australia,1,21,PHI,77,2614,0.012,0.335,5.9,19.3,12.8,37.4,2.4,2.1,19.3
462,Anthony Davis,23775506,USA,1,24,NOP,71,2582,0.113,0.406,7.8,24.9,16.6,10.8,2.0,5.5,8.7
464,Andrew Wiggins,7574322,Canada,1,22,MIN,78,2832,0.260,0.244,3.0,10.7,6.8,8.0,1.5,1.5,8.9
466,Andrew Bogut,2328652,Australia,1,33,LAL,23,216,0.000,0.080,12.9,25.5,19.3,9.1,0.9,4.9,42.3

In [63]:
#Ranking top 5 jogadores com maiores salários 1º pick draft
draftsal = draft[["Player", "Salary"]].groupby("Player").sum()
draftsal.sort_values(by="Salary", ascending=False).head()

                 Salary
Player
LeBron James   33285709
Blake Griffin  29512900
Anthony Davis  23775506
Dwight Howard  23500000
Kyrie Irving   18868625

In [53]:
#Verificar quantos países estão na base
countryclear = df.drop_duplicates(subset=['NBA_Country'])
country = countryclear['NBA_Country']
country.shape[0]

44

In [59]:
#Verificar se existe algum jogador draftado do brasil
brasil = countryclear.loc[(countryclear['NBA_Country'] == 'Brazil')]
brasil

,Player,Salary,NBA_Country,NBA_DraftNumber,Age,Tm,G,MP,3PAr,FTr,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%
105,Raul Neto,1471382,Brazil,47,25,UTA,39,478,0.313,0.224,1.7,9.4,5.6,23.2,1.2,0.7,16.5

In [64]:
#Qual jogador teve maior número de assistencias
totalpass = df[["Player", "AST%"]].groupby("Player").sum()
totalpass.sort_values(by="AST%", ascending=False).head(1)

                   AST%
Player
Russell Westbrook  49.4

In [67]:
#Jogador mais experiênte
agexp = df[["Player", "Age"]].groupby("Player").mean()
agexp.sort_values(by="Age", ascending=False).head(1)

               Age
Player
Vince Carter  41.0

In [70]:
#Criar colunas com sobrenomes dos jogadores
df['SecondName'] = df['Player'].str.split().str[1]
df.head()

,Player,Salary,NBA_Country,NBA_DraftNumber,Age,Tm,G,MP,3PAr,FTr,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,SecondName
0,Zhou Qi,815615,China,43,22,HOU,16,87,0.593,0.370,6.5,16.8,11.7,1.5,1.1,6.8,18.2,Qi
1,Zaza Pachulia,3477600,Georgia,42,33,GSW,66,937,0.004,0.337,11.0,25.0,18.5,15.4,1.9,1.3,19.3,Pachulia
2,Zach Randolph,12307692,USA,19,36,SAC,59,1508,0.193,0.140,7.0,23.8,15.0,14.9,1.4,0.6,12.5,Randolph
3,Zach LaVine,3202217,USA,13,22,CHI,24,656,0.346,0.301,1.4,14.4,7.7,18.6,1.8,0.5,9.7,LaVine
4,Zach Collins,3057240,USA,10,20,POR,62,979,0.387,0.146,4.9,18.3,11.7,7.3,0.8,2.5,15.6,Collins

In [75]:
#Cria e-mail ficticio com sobrenome dos jogadores e domínio @gmail.com
def criar_email(nome):
    return f'{nome}@gmail.com'

df['Email'] = df['SecondName'].apply(criar_email)
df.head()

,Player,Salary,NBA_Country,NBA_DraftNumber,Age,Tm,G,MP,3PAr,FTr,ORB%,DRB%,TRB%,AST%,STL%,BLK%,TOV%,SecondName,Email
0,Zhou Qi,815615,China,43,22,HOU,16,87,0.593,0.370,6.5,16.8,11.7,1.5,1.1,6.8,18.2,Qi,Qi@gmail.com
1,Zaza Pachulia,3477600,Georgia,42,33,GSW,66,937,0.004,0.337,11.0,25.0,18.5,15.4,1.9,1.3,19.3,Pachulia,Pachulia@gmail.com
2,Zach Randolph,12307692,USA,19,36,SAC,59,1508,0.193,0.140,7.0,23.8,15.0,14.9,1.4,0.6,12.5,Randolph,Randolph@gmail.com
3,Zach LaVine,3202217,USA,13,22,CHI,24,656,0.346,0.301,1.4,14.4,7.7,18.6,1.8,0.5,9.7,LaVine,LaVine@gmail.com
4,Zach Collins,3057240,USA,10,20,POR,62,979,0.387,0.146,4.9,18.3,11.7,7.3,0.8,2.5,15.6,Collins,Collins@gmail.com